<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
<!--Main Content-->
<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</div>

<!--This is the aboutpage of the website-->
            <section id="aboutpage">
                <h2 id="pagetitle">About Me</h2>
                <figure id="personal">
                    <div id="imgcolor">
                <img id="image" src="/assets/images/about.jpg" alt="picture of Pavi Vijeyarajah">
                    </div>
                <figcaption>
                <p>Hello, my name is Pavi Vijeyarajah and I am a second year student in Ontario Tech University studing the field of networking. I am doing my assignment for a Web and Scripting course.</p>
                </figcaption>
                </figure>
                <!--This is the video for the personal introduction-->
                <video id="video" controls poster="/assets/images/introimg.jpg">
                    <source src="/assets/videos/introvid.mp4" type="video/mp4">
                    <source src="/assets/videos/introvidobv.ogv" type="video/ogg">
                </video>
            </section>
    </main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>

