<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
<!--Main Content-->
<main>
<!--Display which page is active-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</div>
 <!--This is the homepage of the website-->
            <section id="homepage">
                <div id="txtarea">
                <h2 id="title">Home</h2>
                
                <h2 id="welcome">Welcome to my website</h2>
                
                <h4 id="ERI">Explore | Reasearch | Innovate</h4>
                </div>
                <div id="homeimage">
                <img id="homeimg" src="/assets/images/homeimg.jpg" alt="Northern lights on mountain sides">
                </div>
            </section>
</main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>