<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
<!--Main Content-->
<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</div>

<!--This is the projectpage of the website-->
<section id="projectpage">
    <h2 id="pagetitle">Projects</h2>
    <figure id="proj1">
    <!--This is the images I used for my project examples-->
    <img id="projimg" src="/assets/images/proj1.jpg" alt="Personal project python code">
    <figcaption>
    <h3>Cipher Python Project</h3>
    <p>This project served the purpose of encrypting user phrases and decrypting using various encryption methods</p>
    </figcaption>
    </figure>
    <figure id="proj2">
    <img id="proj2img" src="/assets/images/proj2.jpg" alt="Report on BMO Cybersecurity">
    <figcaption>
    <h3>Cybersecurity Report</h3>
    <p>This project served the purpose of illustrating to the reader the way of which BMO bank cybersecurity measures were breached</p>
    </figcaption>
    </figure>
</section>
    </main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>

